@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --hex-mainColor: #0837e9;
  --rgb-mainColor: 8, 55, 233;

  --hex-secondaryColor: #eed00b;
  --rgb-secondaryColor: 238, 208, 11;

  --hex-black: #262b2f;
  --rgb-black: 38, 43, 47;

  --hex-white: #f5f5f5;
  --rgb-white: 245, 245, 245;

  --hex-grey: #4a4a4a;
  --rgb-grey: 74, 74, 74;

  --hex-red: #fe2329;
  --rgb-red: 254, 35, 41;
}

@layer base {
  /* Base élément site */

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  ul, ol{
      list-style: none;
  }

  img {
      vertical-align: bottom;
  }

  html{
      scroll-behavior: smooth;
      height: 100%;
  }

  body {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    height: 100%;
    color: var(--hex-white)
  }

  /* Fin base élément site */

  /* Base Header, Footer et écriture */
  
  header{
    flex-grow: 0;
    flex-shrink: 0;
  }

  footer{
    flex-grow: 0;
    flex-shrink: 0;
    font-weight: bold;
    border-top: 1px solid transparent;
    transition: border-top 0.7s ease-in-out;

    &:hover{
      border-top: 1px solid var(--hex-white);
    }
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-titre;
    text-wrap: balance;
    font-size: revert;
    font-weight: 400;
  }

  p, span, li {
    @apply font-contenu;
    text-wrap: pretty;
  }

  a{
    text-decoration: none;
    color: var(--hex-white);
  }

  /* Fin Base Header, Footer et écriture */

  /* Début base design */

  .site-container{
    background-color: transparent;
    opacity: 1;
    transition: all 0.7s ease-in-out 0.2s;

    &.bg-site{
      background-image: linear-gradient(180deg, rgba(var(--rgb-mainColor),1) 0%, rgba(var(--rgb-mainColor),0.7) 90%);
    }

    & > *{
      opacity: 1;
      transition: opacity 0.7s ease-in-out 0.2s;
    }

    &.screen-off{
      background-image: linear-gradient(180deg, rgba(var(--rgb-mainColor),0) 0%, rgba(var(--rgb-mainColor),0) 90%);
      background-color: var(--hex-grey);
      pointer-events: none;

      & > *{
        opacity: 0;
        transition: opacity 0.15s ease-in-out;
      }
    }

    .wrapper{
      display: flex;
      flex-direction: column;
      height: 100%;

      &.home{
        background: purple;
      }

      &.about{
        background-image: linear-gradient(180deg, rgba(var(--rgb-mainColor),0.7) 0%, rgba(var(--rgb-mainColor),1) 90%);
      }

      .wrap {
        max-width: calc((1654 - 1574) * 100vw);
        width: 100%;
        margin: 0 auto;
        padding-inline: 40px;
      }
    }
  }

  /* Fin base design */
}

@layer components {

  /* Sidebar et infos trophés */

  .sidebar{
    background-color: rgba(var(--rgb-mainColor), 0.8);
    position: fixed;
    left: -50lvw;
    transition: all 0.8s ease-in-out;
  }

  .sidebar.open{
    left: 0;
    transform: translateX(40px);
  }

  .trophy-infos{
    background-color: transparent;
  }

  
}

@layer utilities {
  .trophy-infos{
    .trophy-name{
      p::first-letter{
        text-transform: uppercase;
      }
    }
  
    .trophy-resume{  
      p::first-letter{
        text-transform: uppercase;
      }
    }
  }

  /* Fin Sidebar et trophés */

  /* Début logo switch */

  .logo-on-off .switch{
    &:hover{
      cursor: pointer;
    }

    &.on{
      color: var(--hex-white);
      transition: color 0.7s ease;
    }

    &.off{
      color: var(--hex-red);
      transition: color 0.7s ease;
    }
  }

  /* Fin logo switch */

  /* Début Hover footer */

  footer{
    .line{
      width: fit-content;
      height: 100%;
      border-right: 1px solid var(--hex-white);
    }
  
    .logo-linkedin:hover .logo, .mentions:hover a{
      color: var(--hex-secondaryColor);
      transition: color 0.5s ease-in-out;
    }
  }

  /* Fin Hover footer */

  /* Style hover menu home */

  .menu-container{
    .menu-list:hover .menu-item:not(:hover) {
      filter: blur(5px);
    }
  }

  /* Fin hover menu home */

  /* Début style page about / à propos */

  .about-section {
    .identite{
      background: rgba(var(--rgb-mainColor), 0.25);
    }

    .menu-infos{
      .about-menu {
        ul {
          div {
            width: 100%;
            display: flex;
            justify-content: center;
            padding-block: 0.5rem;
            padding-inline: 1rem;
            border-bottom: 1px solid var(--hex-white);
            transition: background-color 0.2s ease-in, border 0.1s ease-out;
  
            &.active{
              background-color: var(--hex-secondaryColor);
              border-bottom: 1px solid transparent;
  
              li{
                background-color: rgba(var(--rgb-mainColor), 0.9);
              }
            }
    
            &:hover {
              background-color: var(--hex-secondaryColor);
              border-bottom: 1px solid transparent;
              cursor: pointer;
    
              li {
                background-color: rgba(var(--rgb-mainColor), 0.9);
              }
            }
    
            li {
              width: 100%;
              height: 100%;
              text-align: center;
              padding-block: 0.3rem;
              transition: background-color 0.2s ease-in;
            }
          }
        }
      }
  
      .cadre-texte-about{  
        &::-webkit-scrollbar {
          width: 5px;
        }
        
        &::-webkit-scrollbar-thumb {
          background-color: var(--hex-secondaryColor);
          border-radius: 10px;
        }
        
        &::-webkit-scrollbar-track {
          background-color: transparent;
        }
      }
    }
  }
  
  /* Fin style page about/à propos */
} 