.menuContainer {
    ul{
        li{
            button{
                border: none;
                background-color: transparent;
                font-size: theme('fontSize.font-16px');
            }
        }
    }
}