@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  ul, ol{
      list-style: none;
  }

  img {
      vertical-align: bottom;
  }

  html{
      height: 100%;
  }

  body {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    height: 100%;
  }
  
  header{
    flex-grow: 0;
    flex-shrink: 0;
    
    button{
      color: theme('colors.hex-white');
      background-color: transparent;
    }
  }

  main{
    flex-grow: 1;
  }

  footer {
    @apply font-contenu;
    flex-grow: 0;
    flex-shrink: 0;
    text-align: center;
    font-weight: bold;
    border-top: 1px solid transparent;
    transition: border-top-color 0.7s ease-in-out;

    &:hover {
        border-top-color: theme('colors.hex-white');
    }

    .footer-wrap{
      width: 85%;
    }

    .line{
      width: fit-content;
      height: 100%;
      border-right: 1px solid theme('colors.hex-white');
    }

    .texte-mentions{
      text-transform: capitalize;
    }

    .texte-rs::first-letter{
      text-transform: uppercase;
    }
  
    .logo-linkedin:hover .logo, .texte-mentions:hover a{
      color: theme('colors.hex-secondaryColor');
      transition: color 0.5s ease-in-out;
    }
   

    @media  screen and (max-width : 1300px) {
        .footer-wrap{
          width: 98%;
        }
    }

    @media  screen and (max-width : 1123px){
      border-top: 1px solid theme('colors.hex-white');

      .element{
        &.rs{
          .texte{
            display: none
          }
  
          .logo-linkedin{
            width: 25px;
            height: 26px;
          }
        }
      }
    }
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-titre;
    text-wrap: balance;
    font-size: revert;
    font-weight: 400;
  }

  p, span, li {
    @apply font-contenu; 
    text-wrap: pretty;
    color: theme('colors.hex-white');
  }

  button{
    @apply font-titre;
    border: none;
  }

  a{
    text-decoration: none;
    color: theme('colors.hex-white');
  }

  .wrap {
    max-width: calc((1654 - 1574) * 100vw);
    width: 100%;
    margin: 0 auto;
    padding-inline: 40px;
  }
}

@layer components {
  .sidebar{
    background-color: theme('colors.rgba-mainColor');
    position: fixed;
    left: -50lvw;
    transition: all 0.8s ease-in-out;
  }

  .sidebar.open{
    left: 0;
    transform: translateX(40px);
  }
}