.menuContainer {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  ul {
    display: flex;
    flex-direction: column;
    gap: 48px;
    margin-left: calc((1654 / 132) * 10px);
  }
}

@media screen and (max-width: 800px) {
  .menuContainer {
    display: block;
    transform: translateY(30vh);
    padding: 0 20px;

    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;

    ul {
      flex-direction: row;
      flex-wrap: nowrap;
      margin-left: 0;
      padding: 0 10%;
      gap: 24px;
      width: max-content;

      li {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 0 0 80vw;
        scroll-snap-align: center;
      }
    }
  }
}
